@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700');

:root {
    --new-blue: rgb(33, 133, 242);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: auto;
}

#map {
    height: 100vh;   
}

.container {
    width: 30%;
    float: left;
    padding: 5px;
}

.red {
    filter: hue-rotate(90deg);
}

.phasing-box-inner {
    border-bottom: 2px solid var(--new-blue);
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    .container {
        float: none;
        margin: 10px 0px 0px 0px;
        max-width: 600px;
        width: 100%;
    }

    #map {
        height: 100vh;
        max-width: 95%;
    }
}